<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Account</title>
</head>
<body>
<div align="center">
	<h1>Admin</h1>
	 <a href="/admin/dashboard">Dash Board</a></br>
	 <a href="/admin/khachhang">Khach Hang</a></br>
	 <a href="/admin/hoadon">Hoa Don</a></br>
	 <a href="/admin/sanpham">San Pham</a></br>
	 <a href="/admin/nhacungcap">Nha Cung Cap</a></br>
	 <a href="/admin/loaisanpham">Loai San Pham</a></br>
	 <a href="/admin/chitiethoadon">Chi Tiet Hoa Don</a></br>
</div>	
</body>
</html>