<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>San Pham</title>
</head>

<body>
	<div align="center">
		<h1>San Pham</h1>
		<form th:action="@{/admin/sanpham/add}" th:object="${item}" th:method="post">
			<table>
				<tr>
					<td>MaSP</td>
					<td><input type="text" th:field="*{MaSP}" required="required"></td>
				</tr>
				<tr>
					<td>TenSP</td>
					<td><input type="text" th:field="*{TenSP}"></td>
				</tr>
				<tr>
					<td>MoTa</td>
					<td><input type="text" th:field="*{MoTa}"></td>
				</tr>
				
				<tr>
					<td>GioiTinh</td>
					<td><input type="text" th:field="*{GioiTinh}"></td>
				</tr>
				
				<tr>
					<td>GiaBan</td>
					<td><input type="text" th:field="*{GiaBan}"></td>
				</tr>

				<tr>
					<td>GiaNhap</td>
					<td><input type="text" th:field="*{GiaNhap}"></td>
				</tr>

				<tr>
					<td>Anh</td>
					<td><input type="text" th:field="*{Anh}"></td>
				</tr>

				<tr>
					<td>Slug</td>
					<td><input type="text" th:field="*{Slug}"></td>
				</tr>

				<tr>
					<td>MaLoaiSP</td>
					<td><input type="text" th:field="*{MaLoaiSP}"></td>
				</tr>

				<tr>
					<td>MaNCC</td>
					<td><input type="text" th:field="*{MaNCC}"></td>
				</tr>

				<tr>
					<td>SoLuongTon</td>
					<td><input type="text" th:field="*{SoLuongTon}"></td>
				</tr>

				<tr>
					<td><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>


</html>