<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nha Cung Cap</title>
</head>

<body>
	<div align="center">
		<h1>Nha Cung Cap</h1>
		<form th:action="@{/admin/nhacungcap/add}" th:object="${item}" th:method="post">
			<table>
				<tr>
					<td>TenNCC</td>
					<td><input type="text" th:field="*{TenNCC}"></td>
				</tr>
				<tr>
					<td>DiaChi</td>
					<td><input type="text" th:field="*{DiaChi}"></td>
				</tr>
				
				<tr>
					<td>SDT</td>
					<td><input type="text" th:field="*{SDT}"></td>
				</tr>
				
				<tr>
					<td><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>


</html>