<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Loai San Pham</title>
</head>

<body>
	<div align="center">
		<h1>Loai San Pham</h1>
		<form th:action="@{/admin/loaisanphams/add}" th:object="${item}" th:method="post">
			<table>
				<tr>
					<td>MaLoaiSP</td>
					<td><input type="text" th:field="*{MaLoaiSP}" required="required"></td>
				</tr>
				<tr>
					<td>TenLoaiSP</td>
					<td><input type="text" th:field="*{TenLoaiSP}"></td>
				</tr>
				<tr>
					<td>Slug</td>
					<td><input type="text" th:field="*{Slug}"></td>
				</tr>
				
				<tr>
					<td><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>


</html>